.canvasContainer {
  width: 100%;
  height: 200vh;
  /* outline: 1px solid red; */
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  color: Black;
  font-size: 50px;
  position: absolute;
  top: 41%;
  font-weight: bold;
  /* outline: 1px solid red; */
}

.containerExample1 {
  width: 60%;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.container1 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--ocean);
}

.container2 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--ultramarine);
}

.container3 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--lavender);
}

.container4 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--fuchsia);
}

.container5 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--strawberry);
}

.containerExample2 {
  width: 60%;
  position: absolute;
  top: 61%;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.container6 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--copper);
}

.container7 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--chocolate);
}

.container8 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--saffron);
}

.container9 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--lemon);
}

.container10 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--mint);
}

.containerExample3 {
  width: 60%;
  height: 70%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 113%;
  /* outline: 1px solid red; */
}

.container11 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 236px;
  top: 46px;
  border: 2px solid var(--ultramarine);
}

.connection {
  height: 50px;
  position: absolute;
  left: 339px;
  top: 300px;
  border: 1px solid var(--ultramarine);
}

.container12 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 236px;
  bottom: 46px;
  border: 2px solid var(--ultramarine);
}

.add1 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--white);
  position: absolute;
  display: flex;
  justify-content: center;
  left: 310px;
  top: 640px;
  border: 2px solid var(--lightgray);
}

.add1 p {
  position: absolute;
  color: var(--lightgray);
  display: flex;
  top: -54px;
  font-size: 50px;
}

.border {
  height: 100%;
  right: 236px;
  border: 1px solid var(--lightgray);
}

.container13 {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  right: 236px;
  top: 46px;
  border: 2px solid var(--strawberry);
}

.add2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--white);
  position: absolute;
  display: flex;
  justify-content: center;
  right: 310px;
  top: 340px;
  border: 2px solid var(--lightgray);
}

.add2 p {
  position: absolute;
  color: var(--lightgray);
  display: flex;
  top: -54px;
  font-size: 50px;
}

.add3 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--white);
  position: absolute;
  display: flex;
  justify-content: center;
  right: 140px;
  top: 145px;
  z-index: 100;
  border: 2px solid var(--lightgray);
}

.add3 p {
  position: absolute;
  color: var(--lightgray);
  display: flex;
  top: -54px;
  font-size: 50px;
}
