.termsAndConContainer {
  background: rgb(47, 79, 79);
  /* outline: 1px solid red; */
}

.termsAndCon1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.termsAndCon2 {
  padding: 100px 300px 100px 300px;
  outline: 1px solid red;
}
