.page_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  /* outline: 1px solid red; */
}
.page_hover:hover {
  transform: scale(115%);
}

.icons {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
}

.names {
  margin-left: 6px;
  display: flex;
}
