.sidebarContainer {
  position: fixed;
  top: 0;
  z-index: 100000;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background: rgb(47, 79, 79);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  /* outline: 1px solid red; */
}

.menu {
  display: flex;
  /* outline: 1px solid red; */
}

.content {
  flex-direction: column;
  /* outline: 1px solid red; */
}

.name,
.copyright {
  color: Black;
  font-size: 40px;
  font-weight: normal;
  font-family: "Helvetica";
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  /* outline: 1px solid red; */
}

.name {
  font-size: 40px;
}

.copyright {
  font-size: 16px;
}

.pages {
  color: Black;
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica";
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  /* outline: 1px solid red; */
}

.tab {
  display: none;
  justify-content: flex-end;
  position: absolute;
  z-index: -1;
  padding: 10px;
  top: 3px;
  left: 2rem;
  background: rgb(47, 79, 79);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  /* outline: 1px solid red; */
}

.zero {
  width: 45px;
}

.one {
  width: 60px;
}

.two {
  width: 60px;
}

.three {
  width: 65px;
}

.four {
  width: 50px;
}

.five {
  width: 105px;
}

.six {
  width: 125px;
}

.seven {
  width: 135px;
}

.Levin:hover > .tab,
.Canvas:hover > .tab,
.Tutorial:hover > .tab,
.Settings:hover > .tab,
.Login:hover > .tab,
.PrivacyPolicy:hover > .tab,
.TermsAndConditions:hover > .tab,
.Copyright:hover > .tab {
  display: flex;
}
