.sidebarContainer {
  position: fixed;
  top: 70px;
  z-index: 1000;
  /* outline: 1px solid red; */
}

.levinContainer {
  position: fixed;
  display: flex;
  align-items: center;
  width: 300px;
  top: 10px;
  left: 10px;
  z-index: 1000;
  /* outline: 1px solid red; */
}

.Logo {
  width: 6vh;
  margin-right: 10px;
}

.Levin {
  color: Black;
  font-size: 40px;
  font-weight: bold;
  /* outline: 1px solid red; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 2rem;
  background: linear-gradient(135deg, rgb(0, 175, 110), rgb(0, 140, 180));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  /* outline: 1px solid red; */
}

.menu {
  display: flex;
  /* outline: 1px solid red; */
}

.content {
  flex-direction: column;
  /* outline: 1px solid red; */
}

.name,
.copyright {
  color: Black;
  font-size: 40px;
  font-weight: normal;
  font-family: "Helvetica";
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  /* outline: 1px solid red; */
}

.name {
  font-size: 40px;
}

.copyright {
  font-size: 16px;
}

.pages {
  color: Black;
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica";
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  /* outline: 1px solid red; */
}

.tab {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  display: none;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  z-index: 900;
  padding: 10px;
  top: 3px;
  left: 3rem;
  background: linear-gradient(135deg, rgb(0, 175, 110), rgb(0, 140, 180));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
  /* outline: 1px solid red; */
}

.one {
  width: 80px;
  background: rgb(0, 170, 120);
}

.two {
  width: 80px;
  background: rgb(0, 167, 126);
}

.three {
  width: 80px;
  background: rgb(0, 163, 133);
}

.four {
  width: 80px;
  background: rgb(0, 160, 140);
}

.five {
  width: 80px;
  background: rgb(0, 157, 146);
}

.six {
  width: 80px;
  background: rgb(0, 153, 155);
}

.seven {
  width: 140px;
  background: rgb(0, 149, 161);
}

.eight {
  width: 160px;
  background: rgb(0, 145, 168);
}

.nine {
  width: 170px;
  background: rgb(0, 143, 174);
}

.Canvas:hover > .tab,
.Tutorial:hover > .tab,
.Settings:hover > .tab,
.Logout:hover > .tab,
.Login:hover > .tab,
.Contact:hover > .tab,
.PrivacyPolicy:hover > .tab,
.TermsAndConditions:hover > .tab,
.Copyright:hover > .tab {
  display: flex;
}

.button {
  background: transparent;
  border: none;
}
