.signupBox1 {
  width: clamp(10%, 400px, 70%);
  height: 550px;
  margin-top: 10px;
  margin-left: 20px;
  left: 3.5rem;
  background: rgb(47, 79, 79);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* outline: 1px solid red; */
}
.signupBox1::before,
.signupBox1::after {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, rgb(0, 0, 0), rgb(0, 0, 0));
  transform-origin: bottom right;
  animation: animate 18s linear infinite;
}
.signupBox1::after {
  animation-delay: -9s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signupBox2 {
  border-radius: 8px;
  background: rgb(47, 79, 79);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  inset: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
}

.signupBox2 h1 {
  color: Black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica";
  margin-top: 0px;
  text-align: center;
  /* outline: 1px solid red; */
}

.inputContainer {
  margin-top: -45px;
  /* outline: 1px solid red; */
}

.signupInput {
  position: relative;
  width: 70%;
  margin-top: 35px;
  margin-bottom: 0px;
  margin-left: 15%;
  /* outline: 1px solid red; */
}

.signupInput input {
  position: relative;
  color: Black;
  font-size: 20px;
  width: 100%;
  padding: 25px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  z-index: 10;
  /* outline: 1px solid red; */
}

.signupInput span {
  color: Black;
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica";
  position: absolute;
  padding: 15px 10px;
  pointer-events: none;
  transition: 0.5s;
  /* outline: 1px solid red; */
}
.signupInput input:valid ~ span,
.signupInput input:focus ~ span {
  color: Black;
  font-size: 0px;
  transform: translateX(0px) translateY(-34px);
}

.signupInput i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  transition: 0.3s;
  pointer-events: none;
  /* outline: 1px solid red; */
}
.signupInput input:valid ~ i,
.signupInput input:focus ~ i {
  background: rgb(255, 255, 255);
  height: 50px;
}

input[type="submit"] {
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica";
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  width: 110px;
  height: 50px;
  margin: 0 auto;
  margin-top: 70px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* outline: 1px solid red; */
}
input[type="submit"]:hover {
  transform: scale(105%);
}

.signupBox1 button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.login {
  color: Black;
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica";
  text-decoration: none;
  width: 200px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  /* outline: 1px solid red; */
}
.login:hover {
  transform: scale(105%);
}
