.testcontactBox1 {
  width: 400px;
  height: 850px;
  left: 3.5rem;
  display: flex;
  position: absolute;
  top: -158px;
  background: rgb(47, 79, 79);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  /* outline: 1px solid red; */
}
.testcontactBox1::before,
.testcontactBox1::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, rgb(0, 0, 0), rgb(0, 0, 0));
  transform-origin: bottom right;
  animation: animate 18s linear infinite;
}
.testcontactBox1::after {
  animation-delay: -9s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.testcontactBox2 {
  border-radius: 8px;
  background: rgb(47, 79, 79);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  inset: 5px;
  margin: auto 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
}

.testcontactBox2 h1 {
  color: Black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica";
  margin-top: 0px;
  text-align: center;
  /* outline: 1px solid red; */
}

.testcontactBox1 button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

.close {
  display: flex;
  justify-content: flex-end;
}
