.tutorialBox1 {
  width: 400px;
  height: 85vh;
  left: 3.5rem;
  display: flex;
  position: absolute;
  top: -110px;
  background: linear-gradient(135deg, rgb(0, 175, 110), rgb(0, 140, 180));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  /* outline: 1px solid red; */
}
.tutorialBox1::before,
.tutorialBox1::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -150%;
  width: 200%;
  height: 100%;
  background: linear-gradient(0deg, transparent, rgb(0, 0, 0), rgb(0, 0, 0));
  transform-origin: bottom right;
  animation: animate 18s linear infinite;
}
.tutorialBox1::after {
  animation-delay: -9s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tutorialBox2 {
  background: linear-gradient(135deg, rgb(0, 175, 110), rgb(0, 140, 180));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 15;
  inset: 5px;
  margin: auto 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
}

.tutorialBox1 .close {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.tutorialBox2 h1 {
  color: Black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica";
  margin-top: 0px;
  z-index: 100;
  text-align: center;
  position: sticky;
  top: 50px;
  /* outline: 1px solid red; */
}

.tutorialBox1 button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

.tutorialBox3 {
  z-index: 10;
  border-radius: 10px;
  z-index: 10;
  inset: 5px;
  top: 6rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* outline: 1px solid red; */
}

.tutorialBox4 {
  z-index: 10;
  border-radius: 10px;
  z-index: 10;
  inset: 5px;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* outline: 1px solid red; */
}

.template {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  z-index: 10;
  /* outline: 1px solid red; */
}

.template video {
  width: 95%;
  border-radius: 10px;
  outline: 2px solid black;
}

.template span {
  color: Black;
  font-size: 16px;
  font-weight: bold;
  /* outline: 1px solid red; */
}
