body {
  background: var(--anthracite);
  margin: 0;
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Page Colors */
  --anthracite: rgb(41, 44, 51);

  /* monochrome colors */
  --white: rgb(255, 255, 255);
  --lightgray: rgb(191, 191, 191);
  --gray: rgb(127, 127, 127);
  --darkergray: rgb(63, 63, 63);
  --black: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}
